@model WebApplication3.Models.model

@{
    ViewBag.Title = "Добавление проекта";
}

<h2>@ViewBag.Title</h2>
<style>
h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;

    margin: 20px 0;
}
</style>

@using (Html.BeginForm("Create", "Nirs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите данные проекта</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.balance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.balance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.balance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.igrokname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.igrokname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.igrokname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
                <style>
                    .btn.btn-default {
                        display: inline-block;
                        border: 1px solid #999;
                        border-radius: 3px;
                        background-color: #999;
                        color: #fff;
                        font-size: 16px;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;
                        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                        margin: 10px 10px 0px 0px;
                    }

                    .btn.btn-default:hover {
                        background-color: #fff;
                        color: #333;
                    }
</style>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

